@page "/catalogo"
@using PropertyCatalog.Models
@rendermode InteractiveServer

<style>
    .main {
        flex-grow: 1;
        overflow-y: auto;
        padding: 1.5rem !important;
    }

    .pizza-cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, 30rem);
        grid-gap: 2rem;
        justify-content: center;
        padding-left: 0;
    }

        .pizza-cards > li {
            height: 20rem;
            position: relative;
            background-size: cover;
            border-radius: 0.4rem;
            list-style-type: none;
            box-shadow: 0 3px 4px rgba(0,0,0,0.4);
            transition: 0.1s ease-out;
        }

            .pizza-cards > li:hover {
                transform: scale(1.02);
            }

    .pizza-info {
        border-radius: 0.5rem;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background: linear-gradient(rgba(0,0,0,0.7) 30%, rgba(0,0,0,0) 80%);
        padding: 1rem 1rem;
        color: #fff2cc;
        cursor: pointer;
        text-shadow: 0 2px 2px rgba(0,0,0,0.5);
        line-height: 1.25rem;
    }

        .pizza-info .title {
            color: white;
            font-size: 1.4rem;
            display: block;
            margin: 0.2rem 0 0.4rem 0;
            font-family: 'Bahnschrift', Arial, Helvetica, sans-serif;
            text-transform: uppercase;
        }

        .pizza-info .price {
            position: absolute;
            bottom: 0.5rem;
            right: 1rem;
            font-size: 1.5rem;
            font-weight: 700;
            padding: 0rem 0.7rem;
            border-radius: 4px;
            background-color: #08af08;
            color: white;
            line-height: 2rem;
        }
</style>

<div class="main">
    <h1>Catalogo de Propiedades</h1>
    <ul class="pizza-cards">
        @if (propiedades != null)
        {
            @foreach (var special in propiedades)
            {
                <li>
                    <a class="pizza-info" href="/productdetail/@special.Id" style="display: block; height: 100%; width: 100%; background-image: url('@special.ImageUrl'); background-size: cover;">
                        <div class="pizza-info">
                            <span class="title">@special.Name</span>
                            @special.Description
                            <span class="price">@special.GetFormattedBasePrice()</span>
                        </div>
                    </a>
                </li>
            }
        }
    </ul>
</div>

@code {
    List<Propiedad> propiedades = new();

    protected override void OnInitialized()
    {
        propiedades.AddRange(new List<Propiedad>
    {
        new Propiedad { Id = 1, Name = "The Baconatorizor", BasePrice =  11.99M, Description = "It has EVERY kind of bacon", ImageUrl="https://www.decorfacil.com/wp-content/uploads/2017/09/20170907decoracao-de-apartamento-53.jpg"},
        new Propiedad { Id = 2, Name = "Buffalo chicken", BasePrice =  12.75M, Description = "Spicy chicken, hot sauce, and blue cheese, guaranteed to warm you up", ImageUrl="img/pizzas/meaty.jpg"},
        new Propiedad { Id = 3, Name = "Veggie Delight", BasePrice =  11.5M, Description = "It's like salad, but on a pizza", ImageUrl="img/pizzas/salad.jpg"},
        new Propiedad { Id = 4, Name = "Margherita", BasePrice =  9.99M, Description = "Traditional Italian pizza with tomatoes and basil", ImageUrl="img/pizzas/margherita.jpg"},
        new Propiedad { Id = 5, Name = "Basic Cheese Pizza", BasePrice =  11.99M, Description = "It's cheesy and delicious. Why wouldn't you want one?", ImageUrl="img/pizzas/cheese.jpg"},
        new Propiedad { Id = 6, Name = "Classic pepperoni", BasePrice =  10.5M, Description = "It's the pizza you grew up with, but Blazing hot!", ImageUrl="img/pizzas/pepperoni.jpg" }
    });
    }
}
